<!-- Get In Touch Section Begin -->
<div class="gettouch-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="gt-text">
          <i class="fa fa-map-marker"></i>
          <p>Drieccion de la casa de andrew<br />Clle 46 #Salsipuedes</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="gt-text">
          <i class="fa fa-mobile"></i>
          <ul>
            <li>+57 300 2299835</li>
            <li>+57 322 2222</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="gt-text email">
          <i class="fa fa-envelope"></i>
          <p>Support.andestid@gmail.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Get In Touch Section End -->

<!-- Footer Section Begin -->
<section class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="fs-about">
          <div class="fs-widget">
            <h4>Fitness<a href="#" style="color: #f7e02a;">JS</a></h4>
          </div>
          <p>Bienvenido a FitnessJS, tu plataforma en línea para acceder a una amplia gama de ejercicios y rutinas diseñadas para llevar tu bienestar físico al siguiente nivel.</p>
          <div class="fa-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa  fa-envelope-o"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="fs-widget">
          <h4>Soporte</h4>
          <ul>
            <li><a href="#">Login</a></li>
            <li><a href="#">Mi cuenta</a></li>
            <li><a href="#">Subscribirse</a></li>
            <li><a href="#">Contactanos</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2 col-md-3 col-sm-6">
        <div class="fs-widget">
          <h4>Hecho con</h4>
          <ul>
            <li><a href="#">NodeJS</a></li>
            <li><a href="#">EJS</a></li>
            <li><a href="#">BootStrap</a></li>
            <li><a href="#">Amor</a></li>
          </ul>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6">
        <div class="fs-widget">
          <h4>Tips & Guias</h4>
          <div class="fw-recent">
            <h6><a href="#">Porque los hombres viven menos?</a></h6>
            <ul>
              <li>3 min</li>
              <li>20 Comentarios</li>
            </ul>
          </div>
          <div class="fw-recent">
            <h6><a href="#">Vale la pena el pico de oro, debate serio...</a></h6>
            <ul>
              <li>3 min</li>
              <li>20 Comentarios</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="copyright-text">
          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved | Esta plataforma fue hecha con
            <i class="fa fa-heart" aria-hidden="true"></i> por <a href="https://github.com/Andestid"
              target="_blank">Andestid</a> Ft. <a href="https://github.com/JBxss"
              target="_blank">JBxss</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Footer Section End -->

 <!-- Search model Begin -->
 <div class="search-model">
  <div class="h-100 d-flex align-items-center justify-content-center">
      <div class="search-close-switch">+</div>
      <form class="search-model-form">
          <input type="text" id="search-input" placeholder="Busca aqui.....">
      </form>
  </div>
</div>
<!-- Search model end -->

<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/jquery.barfiller.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/theme.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>

</body>

</html>