<!-- Header Section Begin -->
<header class="header-section fixed-top" style="background-color: black;">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3">
              <div class="logo">
                    <h4>Fitness<a href="/" style="color: #f7e02a;">JS</a></h4>
              </div>
          </div>
          <div class="col-lg-6">
              <nav class="nav-menu">
                  <ul>
                      <li><a href="/">Home</a></li>
                      <li><a href="#">Clases</a></li>
                      <li><a href="#">Paginas</a>
                          <ul class="dropdown">
                              <li><a href="/ingresar">Ingresar</a></li>
                              <li><a href="#">Estoy</a></li>
                              <li><a href="#">Probando</a></li>
                              <li><a href="#">El</a></li>
                              <li><a href="#">Dropdown</a></li>
                          </ul>
                      </li>
                      <li><a href="#">Contactanos</a></li>
                  </ul>
              </nav>
          </div>
          <div class="col-lg-3">
              <div class="top-option">
                  <div class="to-search search-switch">
                      <i class="fa fa-search"></i>
                  </div>
                  <div class="to-social">
                      <a href="#"><i class="fa fa-facebook"></i></a>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <a href="#"><i class="fa fa-youtube-play"></i></a>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                  </div>
              </div>
          </div>
      </div>
      <div class="canvas-open">
          <i class="fa fa-bars"></i>
      </div>
  </div>
</header>
<!-- Header End -->