
    <!-- Inicio Toggle modo dark -->
    <div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
        <button id="toggleButton" class="btn bt-primary py-2 d-flex align-items-center">
            <i id="icon" class="fa fa-toggle-on"></i>
        </button>
      </div>
      <!-- Fin Toggle modo dark -->